/*** Fundo e Titulo **/
.contato {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(25, 44, 82, 1) 29%, rgba(0, 212, 255, 1) 100%);
    font-style: italic;
}

.titulo h1 {
    color: white;

}

.titulo {
    margin-left: 350px;
}

/*** Quadradinhos imagens **/

.local img {
    width: 56px;
    float: right;

}

.telefone img {
    width: 80px;
    float: right;

}

.instagram img {
    width: 83px;
    float: right;

}

.email img {
    width: 89px;

}

/*** Quadradinhos tamanho **/
.height1 {
    line-height: 26px;
}

.height2 {
    line-height: 32px;
}

.height3 {
    line-height: 32px;
}

.height4 {
    line-height: 34px;
}

/*** Quadradinhos tamanho **/


.nome1 {
    color: white
}

.nome2 {
    color: white
}

.nome3 {
    color: white
}

.botao {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(25, 44, 82, 1) 29%, rgba(0, 212, 255, 1) 100%);
}

.caixa-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

@media (max-width: 659px) {
    .caixa-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 390px) {
    .caixa-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cartao {
    background-color: white;
    padding: 15px;
}

.cartao i {
    color: blueviolet;
    font-size: 40px;
}

.cartao h3 {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.cartao p {
    font-size: 12px;
}

/* diplay block e width de 100% no input*/

/*** Rodapé**/




.formulario {
    margin-top: 50px;
}


input {
    width: 100%;
    display: block;
    height: 30px;
}

textarea {
    width: 100%;
}

h1 {
    text-align: center;
    color: white;


}

label {
    color: white
}